body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    background: conic-gradient(at top right, slategray, white);
}

header {
    border: 1px solid black;
    position: relative;
    display: block;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
    background-color: #53a3a3;
    z-index: 1000;
}

.title {
    /* border: 1px solid black; */
    position: absolute;
    display: inline-block;
    display: flex;
    height: auto;
    justify-content: space-evenly;
}

.menu {
    /* border: 1px solid black; */
    position: absolute;
    display: block;
    display: flex;
    right: 0;
    height: auto;
}

.title h4, .menu h4 {
    /* border: 1px solid black; */
    margin: 10px 10px;
    height: auto;
    font-size: 1.5rem;
}

.container-2 * {
    border-radius: 30px;
    margin: 50px 80px;
}

.about {
    border: 2px solid black;
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.452);
}

.about h2 {
    text-align: center;
}

.about p {
    margin: 50px 200px;
    line-height: 1.5;
}

.portfolio {
    border: 2px solid rgb(0, 0, 0);
    background-color: #f5f5f5;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.452);
}

.portfolio h2 {
    text-align: center;
}

.project {
    font-size: 1.3rem;
    background-image: url(./images/Zodiac_Screenshot.png);
    background-color: #474747d0;
    background-blend-mode: darken;
    padding: 100px;
    max-width: 350px;
    margin: 20px auto;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    color: #ebebeb;
}

.project h3, p, a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.project a {
    color: #0059ff;
    font-weight: bold;
}

.project img{
    width: 25%;
    height: auto;
    display: flex;
    margin: 15px auto;
    border-radius: 10%;
    opacity: 0.5;
}

.contact {
    border: 2px solid black;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    box-shadow: 15px 15px rgba(0, 0, 0, 0.452);
}

.contact h2{
    text-align: center;
    padding: 20px;
    /* border: 1px solid black; */
}

form {
    width: 90vh;
    /* border: 1px solid black; */
}

label {
    font-weight: bold;
}


input,
textarea {
  width: 100%;
  height: 30px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #000000;
  font-size: 1.3rem;
}

textarea {
    height: 100px;
}

button {
    background-color: #5ea4b9;
    color: #fff;
    display: flex;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.452);
  }

  button:hover {
    background-color: #5eb6b9;
  }